html{
    background-color: rgb(208, 235, 226);
}
@font-face {
    font-family: block;
    src: url('/siteFonts/AmericanCaptain-MdEY.otf');
}
#companyLogo{
width: 12rem ; 
vertical-align: middle;
}
#topNav{
background-color: rgb(192, 204, 238);
position: absolute;
right: 0;
left: 0;
top: 0;
border-bottom: 0.09rem solid gray;
}
.navCon{
    vertical-align: middle;
    font-size: 1.3rem;
    margin: 0 3rem 0 0;
    font-family: block;
    letter-spacing: 0.2rem;
}
#pageCon{
    position: absolute;
   top: 10.8%; 
   left: 0%;
    text-align: center;
}
#currentSlide{
    width: 100%;
    transition: opacity .2s ease-in;
    filter: brightness(70%);
}
#slideText{
    position: absolute;
    top:0%;
    left: 2%;
    font-family: block;
    letter-spacing: 0.2rem;
    font-size: 4rem;
    color: white;
    text-decoration: underline;
}
#slideText2{
    position: absolute;
    top:44%;
    left: 34%;
    font-family: block;
    letter-spacing: 0.2rem;
    font-size: 2.2rem;
    color: white;
}
#slideButton{
    border-radius: 5rem;
    font-family: block;
    font-size: 2.2rem;
    border-style: none;
    padding: 0.7rem 1rem 0.1rem 1rem;
    background-color: rgb(156, 208, 250);
    color: white;
    letter-spacing: 0.1rem;
    position: absolute;
    top:57%;
    left: 44%;
    transition: .2s ease-in;
    
}
#slideButton:hover{
    color: rgb(218, 228, 226);
    background-color: rgb(62, 102, 100);
}
#aboutUsSect{
    margin-top: 53%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-family: block;
    letter-spacing: 0.1rem;
    text-decoration: underline;
}